

#colblue  {
    color: #a0c3e2;
}


.modal-content
{
color: #2D2C2C;
}
.modal-title
{color: #2D2C2C;}

.form-control {
    background:#a0c3e2;
    color: #61D0E6;
}

.fadeInUp {
    background-color:#F6F5F5;
}