{% extends 'index.html' %}

{% block usluga %}



<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">УСЛУГИ</h1>
					<hr>
				</div>
			</div>
            {% for usluga in usluga %}
<p class="baas">
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<!--<i class="icon-cloud medium-icon"></i>-->
					<h3>{{usluga.usluga}}</h3>
					<hr>
					<p>{{usluga.usluga_text}}</p>
			</div>
</p>
            {% endfor %}


		</div>
	</div>
</section>


{%endblock%}

{% block onas %}
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">О НАС</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="/static/images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold">Тендерконсалт</h3>
				{% for dom in dom %}
				<h1 class="heading bold">{{dom.onas_predtext}}</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">

				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="design">
						<p>
							{{dom.onas_text|safe}}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{%endblock%}

{% block paket %}

<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">ПАКЕТЫ УСЛУГ</h1>
					<hr>
				</div>
			</div>
			{% for paket in paket %}
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h3>{{ paket.paket_title }}</h3>
						<h2>{{ paket.cena_paket }}<span></span></h2>
					</div>
					{% for uslugapaketa in paket.podpaket_paket.all %}
					<ul>
                    	<li>{{ uslugapaketa.podpaket_title }}</li>

					</ul>
					{%endfor%}


				<button type="button" class="smoothScroll btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Приобрести</button>
				  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  					<div class="modal-dialog" role="document">
    				  <div class="modal-content">
      					<div class="modal-header">
        				  <h5 class="modal-title" id="exampleModalLabel">Новая заявка</h5>
        				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				    <span aria-hidden="true">&times;</span>
						  </button>
      					</div>
      					<div class="modal-body">
		 				   <form action="" method="post" class="wow fadeInUp" data-wow-delay="0.6s">
							  {% csrf_token %}
            				  {{ form.as_p}}
							  <input type="submit" class="form-control" value="отправить запрос">
         				   </form>
      					</div>
    				  </div>
  					</div>
				  </div>




				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{%endblock%}

{% block contact %}
<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">КОНТАКТЫ</h1>
					<hr>
				</div>
			</div>
			{% for contact in contact %}
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">{{ contact.contact_title }}</h2>
				<p>{{ contact.contact_text|safe }}</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>{{ contact.email }}</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
					<p>{{ contact.telefon }}</p>
				</div>
			</div>
			{% endfor %}
			{%endblock%}

{% block formzakaz %}
			<div class="col-md-6 col-sm-12">
				<form action="" method="post" class="wow fadeInUp" data-wow-delay="0.6s">
					    {% csrf_token %}
                        {{ form.as_p}}
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="отправить запрос">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{%endblock%}


